<!DOCTYPE html>
<html>
    <head>
        <title>CriticHub </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta http-equiv="Content-Security-Policy" content="default-src * 'self' data: 'unsafe-inline' 'unsafe-inline'; script-src * 'unsafe-inline'; style-src * 'unsafe-inline'; font-src * 'unsafe-inline' ; connect-src * 'unsafe-inline'; media-src * 'unsafe-inline'; object-src * 'unsafe-inline'; child-src * 'unsafe-inline'; frame-src * 'unsafe-inline'; worker-src * 'unsafe-inline'; form-action *;">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>
        </head>
        <script>
         $(document).ready(function(){
             let test = $("select").change(function(){
             console.log($("select option:selected").text());
             $("#UserType").val($("select option:selected").val()); 
        });
         let restaurantType = $("#typeSelect").change(function(){
             console.log($("select option:selected").text());
             $("#RestaurantType").val($("select option:selected").val()); 
        });
             
         });  
        </script>
       <body>
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
  <a class="navbar-brand" href="/">CriticHub</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#NavbarNav" aria-controls="NavbarNav"  aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="NavbarNav">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <% if(!currentUser){ %>
        <li class="nav-item active">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
       <a class="nav-link " href="/register">Sign Up</a>
      </li>
         <% }else{ %>
        <li class="nav-item">
      <a class="nav-link" href="#"> Welcome Back <%= currentUser.username%></a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/logout">Logout</a>
      </li>
       <% } %>
    </ul>
  </div>
</nav> 

<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('https://res.cloudinary.com/critichub/image/upload/v1551206833/sebastian-lp-155047.jpg')">
        <div class="carousel-caption d-block d-md-block d-s-block d-xs-block">
          <h2 class="display-4">CriticHub</h2>
          <p class="lead"> <a href="/restaurants" class="btn btn-lg btn-success">Step into the Hub</a></p>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://res.cloudinary.com/critichub/image/upload/v1551206833/nathan-dumlao-268166.jpg')">
        <div class="carousel-caption d-block d-md-block d-s-block d-xs-block">
          <h2 class="display-4">CriticHub</h2>
          <p class="lead"> <a href="/restaurants" class="btn btn-lg btn-success">Step into the Hub</a></p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://res.cloudinary.com/critichub/image/upload/v1551206833/fabrizio-magoni-219347.jpg')">
        <div class="carousel-caption d-block d-md-block d-s-block d-xs-block">
          <h2 class="display-4">CriticHub</h2>
          <p class="lead"> <a href="/restaurants" class="btn btn-lg btn-success">Step into the Hub</a></p>
        </div>
      </div>
      
      <div class="carousel-item" style="background-image: url('https://res.cloudinary.com/critichub/image/upload/v1551206833/PicOne.jpg')">
        <div class="carousel-caption d-block d-md-block d-s-block d-xs-block">
          <h2 class="display-4">CriticHub</h2>
          <p class="lead"> <a href="/restaurants" class="btn btn-lg btn-success">Step into the Hub</a></p>
        </div>
      </div>
      
      <div class="carousel-item" style="background-image: url('https://res.cloudinary.com/critichub/image/upload/v1551206833/serge-esteve-5821.jpg')">
        <div class="carousel-caption d-block d-md-block d-s-block d-xs-block">
          <h2 class="display-4">CriticHub</h2>
          <p class="lead"> <a href="/restaurants" class="btn btn-lg btn-success">Step into the Hub</a></p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>
</header>

<% include partials/footfile %>