<% include ../partials/headfile %>
<h1>Join The Hub</h1>
<form action="/register" method="POST" enctype="multipart/form-data">
    <div class="form-group">
    Username:<input class="form-control" type="text" name="username" placeholder="Username" required>
    <div class="form-group">
         Email:  <input type="email" class="form-control" name="Email" placeholder="Email Address" required>
 <div class="form-group">
   Image: <input class="form-control-file" type="file" id="Link"  name="Link" accept="image/*" >
</div>
    <div class="form-group">
    Password:<input class="form-control" type="password" name="password" palceholder="Password" required>
    <div class="form-group">
        Type: <select id="mySelect" class="custom-select">
 <option value= " "> </option>
 <option value="Owner">Owner</option>
 <option value= "Critic">Critic</option>
</select>
<input type="hidden" id="UserType" name="UserType" value="" required> 
    </div>
    </div>
    </div>
    </div>
    <div class="form-group">
    <button id="Create" class="btn btn-lg btn-default btn-block btn-primary">Join The Hub</button>
    </div>
</form>
<a href="/auth/twitter" title="Twitter" class="btn btn-lg btn-default btn-block btn-primary btn-lg"><i class="fa fa-twitter fa-fw"></i> Sign Up with Twitter</a>
<a href="/auth/google" title="Google" class="btn btn-danger btn-default btn-block btn-lg"><i class="fa fa-google-plus fa-fw"></i> Sign Up with Google</a>
<a href="/auth/facebook" title="Facebook" class="btn-default btn-block btn btn-primary btn-lg"><i class="fa fa-facebook fa-fw"></i> Sign Up with Facebook</a>
<p>Already have an account? <a href="/login">Login</a></p>

<% include ../partials/footfile %>