<% include ../partials/headfile %>
<h1>Password Reset </h1>

<form action="/reset/<%= token %>" method="POST">
    <div class="form-group">
    Password:<input class="form-control" type="password" name="firstpassword" placeholder="Password" required>
   <div class="form-group">
  Re-Confirm Password:<input class="form-control" type="password" name="confirmpassword" placeholder="Re-Confirm Password" required>
     </div>
     </div>
    <button class="btn btn-lg btn-default btn-block btn-primary">Reset</button>
</form>
<% include ../partials/footfile %>