body {
  background-color: #000;
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media only screen and (min-width: 768px){
  .carousel-caption{
    background-color: rgba(0, 0, 0, 0.8) !important;
    position:absolute;
left:0;
right:0;
width: 100%;
}
}

.carousel-caption{
    background-color: rgba(0, 0, 0, 0.8) !important;
    position:absolute;
left:0;
right:0;
}

